ul.products-list {
    list-style: none;
    display: flex;

    > li.product-item {

        > .product-item-img {
            height: 250px;
            width: 250px;

            > img {
                width: 100%;
                height: 100%;
                margin: auto;
            }
        }

        > .product-introduction {
            text-align: center;

            > a {

            }
            
            > p {
                margin: 0;
                padding: 0;
            }
        }
    }
}