body {
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-family: "Microsoft Yahei", "微软雅黑", verdana;
    overflow-x: hidden;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    
    li {

    }
}

.menu-wrap {
    &:after {
        content: "";
        display: block;
        width: 30px;
        height: 36px;
        position: absolute;
        right: 0;
        top: 0;
        background-color: #333;  
    }
}