doctype html
html(lang="zh")
    head
        title Boutique
     body
        #root
        script(src="/assets/vendor.bundle" + hash + ".js")
        script(src="/assets/app.bundle" + hash + ".js")
