doctype html
html(lang="zh")
    head
        title Boutique
        link(rel="stylesheet", href="/assets/stylesheets/iconfont/iconfont.css")
     body
        #root
        script(src="/assets/javascripts/vendor.bundle" + hash + ".js")
        script(src="/assets/javascripts/app.bundle" + hash + ".js")
